<footer class="footer ">
    <!-- Footer left -->
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://localhost:4200/#/dashboard">
                        Home
                    </a>
                </li>
                <li>
                    <a href="http://www.brycen.com.vn/en/topics">
                        News
                    </a>
                </li>
                <li>
                    <a href="http://www.brycen.com.vn/en/company">
                        Company Summary
                    </a>
                </li>
                <li>
                    <a href="http://www.brycen.com.vn/en/about">
                        About Brycen Viet Nam
                    </a>
                </li>
            </ul>
        </nav>
        <!-- footer right -->
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Dev-Team</a> for a better web.
        </div>
    </div>
</footer>
