  /* custom-icon */
  span.material-icons{
    color:  rgb(77, 73, 73);
    margin: 0 5px 0 5px;
}
#icon_1:hover{  
    color: green;
    cursor: pointer ;
}
#icon_2:hover{  
    color: blue;
    cursor: pointer ;
}
#icon_3:hover{      
    color: red;
    cursor: pointer ;
}
     /* ****custom buttom create** */
.custom_add_employee{
    margin-left: 19px !important;
    margin-bottom: 0px;
    /* padding: 9px; */
    background-color: rgb(49, 49, 218) !important; 

}
.custom_export_employee {
    background-color: rgb(50, 224, 44) !important; 
    margin-left: 7px !important;
}
/* custom main-content table list */
.main-content{
    margin-top: 0px;
}   