<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Create Employee</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <!-- ----------------CONTENT PROFILE Create ------------------>
          <!-- Edit profile information  -->
          <div class="card-body">
            <form>
              <!-- *****************************ROW NEW ************************************* -->
              <!-- *****************************ROW NEW ************************************* -->
              <!-- Edit FirstName && LastName -->
              <div class="row">
                <!-- Edit ID -->
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ID" type="text" required [(ngModel)]="emp.empId" name="empID">
                  </mat-form-field>
                </div>
                <!-- Edit FirstName -->
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fist Name" type="text" required [(ngModel)]="emp.empFirstName"
                      name="firstName">
                  </mat-form-field>
                </div>
                <!-- Edit LastName -->
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" type="text" required [(ngModel)]="emp.empLastName"
                      name="lastName">
                  </mat-form-field>
                </div>
                <!-- edit gender -->
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto1" placeholder="Gender"
                      required [(ngModel)]="emp.empGender" name="Gender">
                    <mat-autocomplete #auto1="matAutocomplete">
                      <mat-option *ngFor="let option_gender of option_genders" [value]="option_gender">{{option_gender}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <!-- edit department -->
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input type="text" matInput [formControl]="myControl_Department" [matAutocomplete]="auto"
                      placeholder="Department" required [(ngModel)]="emp.empDepartment" name="Department">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option_department of option_departments" [value]="option_department">
                        {{option_department}}</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <!-- End Edit FirstName && LastName -->
              <!-- *****************************END ROW NEW ************************************* -->
              <!-- *****************************END ROW NEW ************************************* -->
              <!-- start edit  email -->
              <div class="row">
                <!-- edit email -->
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" [(ngModel)]="emp.empEmail" name="email">
                  </mat-form-field>
                </div>
                <!-- edit skype -->
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Skype" type="text" [(ngModel)]="emp.Skype" name="Skype">
                  </mat-form-field>
                </div>
                <!-- edit phone number -->
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone Number" type="text" [(ngModel)]="emp.PhoneNumber"
                      name="PhoneNumber">
                  </mat-form-field>
                </div>
                <!-- edit Foreign Languge -->
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Foreign Languge" type="text" name="PhoneNumber">
                  </mat-form-field>
                </div>
              </div>
              <!-- end edit gender, department, email -->
              <!-- start edit local address -->
              <!-- end edit local address -->
              <!-- start edit enternal address -->
              <!-- *****************************END ROW NEW ************************************* -->
              <!-- *****************************END ROW NEW ************************************* -->
              <div class="row">
                <!-- edit CITY -->
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Province/City" type="text">
                  </mat-form-field>
                </div>
                <!-- edit COUNTRY -->
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="	District/Town" type="text">
                  </mat-form-field>
                </div>
                <!-- edit Commune/xa -->
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Commune/Ward" type="text">
                  </mat-form-field>
                </div>
                <!-- edit birthday -->
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="BirthDay" type="date" [(ngModel)]="emp.empBirthDay" name="birthday"
                      min="1950-01-01" max="2050-12-31">
                  </mat-form-field>
                </div>
                <!-- edit startday -->
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="StartDay" type="date" [(ngModel)]="emp.empStartDay" name="startday">
                  </mat-form-field>
                </div>
              </div>
              <!-- END edit enternal address -->
              <!-- start edit about me -->
              <div class="row">
                <!-- edit project -->
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input type="text" matInput [formControl]="myControl_Projects" [matAutocomplete]="auto_pro"
                      placeholder="project" [(ngModel)]="emp.empProjects" name="Project">
                    <mat-autocomplete #auto_pro="matAutocomplete">
                      <mat-option *ngFor="let option_project of option_projects" [value]="option_project">
                        {{option_project}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <!-- edit skills -->
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <!-- <input matInput type="text" placeholder="Skills" [(ngModel)]="emp.empSkills" name="Skills"> -->
                    <mat-label>Skills</mat-label>
                    <mat-select [formControl]="skills" multiple> 
                      <mat-option *ngFor="let skills of skillList" [value]="skills">{{skills}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <!-- demo -->
                  <mat-form-field class="example-full-width">
                    <!-- <input matInput type="text" placeholder="Skills" [(ngModel)]="emp.empSkills" name="Skills"> -->
                    <mat-label>Skills</mat-label>
                    <mat-select [formControl]="skills" multiple> 
                      <mat-option *ngFor="let skills of skillList" [value]="skills">{{skills}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- demo -->
              </div>
              <!-- button UPDATE PROFILE -->
              <button mat-raised-button type="submit" class="btn btn-info pull-right btn-sm"
                (click)="Create()">Create</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Card profile here -->
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <!-- Role's Profile -->
            <h6 class="card-category text-gray">BrycenVietNam {{emp.empId}}</h6>
            <h6 class="card-category text-gray">{{emp.Department}}</h6>
            <!-- name's profile -->
            <h4 class="card-title">{{emp.empFirstName}} {{emp.empLastName}}</h4>
            <!-- start deecription content profile  -->
            <p class="card-description">
              <i>update picture here</i>
            </p>
            <!-- end content profile  -->
            <!-- follow button -->
            <a href="" class="btn  btn-round btn-sm">Change Picture</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>