<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Notifications</h3>
              <p class="card-category">Handcrafted by our friend
                  <a target="_blank" href="">Robert McIntosh</a>. Please checkout the
                  <a href="" target="_blank">full documentation.</a>
              </p>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      
                  </div>
                  <div class="col-md-6">
                      
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="places-buttons">
                 
              </div>
          </div>
      </div>
  </div>
</div>
